@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("ProximaNova"), url("public/fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

svg {
    color: #432EAB;
}

.no-users {
    font-family: "Proxima Nova", serif;
    font-weight: 700;
    font-size: 20px;
}
